# Django #
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media
data

**/migrations/*
!**migrations/__init__.py

# Environments  
.venv 
env/ 
venv/ 
.env
# Visual Studio Code # 
.vscode/* 
!.vscode/settings.json 
!.vscode/tasks.json 
!.vscode/launch.json 
!.vscode/extensions.json 
.history

# Ignore coverage reports
.coverage
reports/
